<ion-content>
  <ion-grid>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-row>
      <ion-col id="titulo">
        UFTFM 96,9
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-text class="texto-linhas-paralelas">
        <p>
          A UFT FM é uma emissora de rádio educativa administrada pela Universidade Federal do Tocantins (UFT) e 
          que tem como missão oferecer programação de rádio fundamentada em Educação, Cultura, Cidadania e Diversidade.
        </p>
        <p>
          Sediada em Palmas-TO, a Rádio opera na frequência 96,9 FM e também pela internet para todo o país e o planeta.
          Buscamos a diversidade e a qualidade na nossa programação musical, o incentivo à cultura e à produção locais; 
          a disseminação do conhecimento produzido e armazenado na Universidade e a prestação de serviços para a comunidade.
        </p>
        <p>
          Como emissora pública e educativa, a UFT FM se apresenta como uma alternativa de rádio nova e diferente para o 
          ouvinte tocantinense. Nossas Diretrizes Editoriais foram construídas de forma participativa, a partir de um 
          Grupo de Trabalho que contou com o apoio da comunidade acadêmica e também de representantes de diversos setores 
          da sociedade.
        </p>
      </ion-text>
    </ion-row>


  </ion-grid>
</ion-content>
