<ion-content>
  <ion-grid [fixed]="true">

    <ion-row class="linha">
      <ion-col id="coluna1">
        <ion-card>  
          <img src="assets/brasaoUFT.png" alt="Logo-UFT" id="imgLogo">
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="linha">
      <ion-col id="name">
        UFTFM 96,9
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="icons">
        <ion-button fill="clear" [routerLink]="['/info']">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button >
      </ion-col>
      <ion-col class="icons">
        <ion-button fill="clear">
          <ion-icon id="play" name="play-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="icons">
        <ion-button fill="clear" [routerLink]="['/cronograma']" >
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row id="linha4" >
      <ion-col class="icons">
        <ion-button fill="clear" routerLink="./" routerDirection="root">
          <ion-icon name="logo-youtube" class="logo"></ion-icon>
        </ion-button >
      </ion-col>
      <ion-col class="icons"  >
        <ion-button fill="clear" href="https://www.facebook.com/radiouft" target="blank">
          <ion-icon name="logo-facebook" class="logo"></ion-icon>
        </ion-button >
      </ion-col>
      <ion-col class="icons">
        <ion-button fill="clear" routerLink="./" routerDirection="root">
          <ion-icon name="logo-twitter" class="logo"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="icons">
        <ion-button fill="clear" href="https://www.instagram.com/uftfm/?hl=pt" target="blank">
          <ion-icon name="logo-instagram" class="logo"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
